<div class="row">
  <div class="col-auto">
    <h2>{{username}}'s Dashboard</h2>
  </div>
</div>

<div class="row mt-4">

  {{#if posts.length}}
  <div class="col-md-10 post-list">
    <h3>Current Posts:</h3>
    {{#each posts as |post|}}
    <div class="row mb-3">
      <div class="col-md-6">
        <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-6">
        <h4>{{format_date date_created}}</h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
       
</div>

<a href="/newpost"><button class="btn btn-primary">New Post</button></a>



